<html>
   <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<body>
    <div class="content">
       <h1>FWI Prediction</h1>

        <!-- Main Input For Receiving Query to our ML -->
       <form action="/predictdata" method="post">
         <input type="text" name="Pregnancies" placeholder="Pregnancies" required="required" /><br>
           <input type="text" name="Glucose" placeholder="Glucose" required="required" /><br>
           <input type="text" name="BloodPressure" placeholder="BloodPressure" required="required" /><br>
           <input type="text" name="SkinThickness" placeholder="SkinThickness" required="required" /><br>
           <input type="text" name="Insulin" placeholder="Insulin" required="required" /><br>
           <input type="text" name="BMI" placeholder="BMI" required="required" /><br>
           <input type="text" name="DiabetesPedigreeFunction" placeholder="DiabetesPedigreeFunction" required="required" /><br>
           <input type="text" name="Age" placeholder="Age" required="required" /><br>
          


           <button type="submit" class="search">Predict</button>
       </form>
    <h2>
       Diabetese <u  class="ans">{{result}}</u>
    </h2>

    </div>
    <div class="content">
    <p> <b> Pregnancies:</b> Number of times pregnant </p>
    <p> <b> Glucose: </b> glucose concentration over 2 hours in an oral glucose tolerance test</p>
    <p> <b> Blood Pressure:</b> Diastolic blood pressure (mm Hg)</p>
    <p> <b> Skin Thickness:</b> Triceps skin fold thickness (mm)</p>
    <p> <b> Insulin:</b> 2-Hour serum insulin (mu U/ml)</p>
    <p> <b> BMI:</b> Body mass index (weight in kg/(height in m)^2)</p>
    <p> <b> Diabetes Pedigree Function:</b> Diabetes pedigree function (a function that measures the likelihood of diabetes based on family history)</p>
    <p> <b> Age:</b> Age in years</p>
       
   </div>



  
   <body>
</html>