<!DOCTYPE html>
<html>
    <head>
   
    <title>Search Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<div class="content">
    <div class="Akshir">

    <h1><u><b>Welcome to DiabeteX</b></u></h1> <br>

    <p>Welcome to our diabetes predictor!  By inputting your medical information, our predictor will provide you with an estimate of your risk of developing diabetes.<b> Please note that our model is not a substitute for medical advice, and we recommend consulting with a healthcare professional for any concerns regarding diabetes.</b></p>
    <h3>Click Below ⬇️ to enter data </h3>

    </div>
  
        <form action="/predictdata" method="GET">
            <input type="submit" class="search" value="Search">
        </form>
    </div>
    


</body>
</html>